* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
}
html {
    font-family: "Montserrat";
    background-color: #242424;
    height: 100%;
}
body{
    height: 100%;
}
/* GENERAL */
.h1-logo {
    font-family: "Poppins";
    font-size: 35px;
    padding: 15px;
    color: white;
    width: 33,3%;
}
.span-logo {
    color: #E8C593;
}
.a-btn-general{
    color: white;
    font-weight: bold;
    padding: 10px;
    background-color: #21add1;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
    width: auto;
}
.a-btn-secundario{
    color: black;
    background-color: #E8C593;
}
.btn-general{
    width: 40%;
    font-size: 18px;
}
.centrar-elementos{
    display: flex;
    justify-content: center;
    align-items: center;
}
/* LOGIN.HTML */
/* header */
.header-login {
    width: 100%;
    height: 10%;
    background-color: #0c657b;
    display: flex;
    align-items: center;
}
.img-header {
    width: 50px;
    height: 50px;
}
.botones-header {
    padding: 10px;
}
.a-iniciar-sesion {
    background-color: transparent;
}
.header-login a {
    margin: 10px;
}
.header-login > div {
    width: 33.3%;
    display: flex;
}
.img-logo-header {
    justify-content: center;
}
.botones-header {
    justify-content: flex-end;
} 

/* main */
.main-sign {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90%;
}
.container-sign{
    background-color: white;
    width: 70%;
    height: 70%;
    display: flex;
    border-radius: 10px;
    position: relative;
}
.container-welcome{
    background-color: #21add1;
    width: 50%;
    height: 100%;
    position: absolute;
    left: 0; /* Empieza en el lado izquierdo */
    transition: transform 0.5s ease-in-out, left 0.5s ease-in-out, border-radius 0.5s ease-in-out, background-color 0.5s ease-in-out;
    border-radius: 10px 0 0 10px; /* Redondeo inicial */
}
.container-sign.toggle .container-welcome {
    transform: translateX(100%);
    border-radius: 0 10px 10px 0; /* Cambia el redondeo al lado derecho */
}
.container-sign.toggle .container-welcome {
    transform: translateX(100%);
}
.div-user{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.div-user > a {
    width: 22%;
    text-align: center;
    margin-bottom: 20px;
}
.a-local{
    margin-left: auto;
}
.a-artista{
    margin-right: auto;
}
.form-sign{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 70px;
    align-items: center;
    width: 80%;
    height: 80%;
    margin-top: 20px;
}
.titulo-inicio{
    padding: 20px;
    text-align: left;
    align-self: flex-start;
    font-size: 40px;
}
.titulo-inicio-pry{
    color: #0c657b;
}
.titulo-inicio-sec{
    color: black;
}
.input-inicio{
    width: 80%;
    border-radius: 5px;
    font-size: 16px;
    padding: 20px;
}
.input-pry{
    background-color: rgba(33, 173, 209, 0.5); 
}
.input-pry::placeholder{
    color: #0c657b;
    font-weight: bold;
}
.input-sec{
    background-color: rgb(232, 197, 147, 0.5);
}
.input-sec::placeholder{
    color: black;
    font-weight: bold;
}
.img-logo-sign{
    width: 70%;
}
/* REGISTRO.HTML */
.container-registro{
    background-color: #21add1;
    border-radius: 10px;
    width: 70%;
    height: 70%;
    display: flex;
}
.div-registro{
    background-color: black;
    width: 48%;
    height: 90%;
    border-radius: 10px;

}
/* INDEX.HTML */
/* header */

.main-home {
    color: white;
    justify-items: center;

}

.nav-header {
    background-color: #242424;
}

.nav-header a {
    color: white;
}

.nav-header ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.nav-header li {
    padding: 2%;
}

.titulo-artista {
    color: #21ADD1;
}

.titulo-locales {
    color: #E8C593;
}

.titulo-artista-cabecera, .h1-lema {
    text-align: center;
    padding: 2%;
    font-size: 128px;
}

.img-home {
    text-align: center;
}

.h1-lema {
    padding: 10%;
    padding-bottom: 0%;
    width: 80%;
    height: 16vh;
    padding-top: 7%;
}

.p-lema {
    padding: 10%;
    width: 80%;
    font-size: 24px;
    text-align: center;
}

.section-home {
    padding-left: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4%;
}

.article-home{
    width: 33.3%;
    text-align: center;
    padding: 1%;
}

.article-home h4, p {
    padding: 4%;
    width: 92%;
}

.h1-mejores-artistas{
    text-align: center;
    padding: 2%;
    font-size: 150px;
    color: #21ADD1;
    padding-bottom: 8%;
    padding-top: 10%;
}

.h1-mejores-locales{
    color: #E8C593;
    text-align: center;
    padding: 2%;
    font-size: 150px;
    padding-bottom: 8%;
    padding-top: 10%;
}

.section-mejores-artistas{
    padding-left: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4%;
    background-image: url(/media/imagenes/fondoMadera.png);
    padding-top: 4%;
    width: 86%;
}

.section-mejores-locales{
    padding-left: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 4%;
    background-image: url(/media/imagenes/fondoMadera.png);
    padding-top: 4%;
    width: 86%;
}

.figure-artistas img, .figure-artistas p{
    width: 85%;
    color: #0C657B;
}

.puntuacion-cuatro-estrellas img{
    width: 8%;
}
.puntuacion-una-estrella img{
    width: 8%;
}.puntuacion-dos-estrellas img{
    width: 8%;
}.puntuacion-tres-estrellas img{
    width: 8%;
}
.puntuacion-cinco-estrellas img{
    width: 8%;
}

.section-mejores-locales h1{
    text-align: center;
    padding: 2%;
    font-size: 150px;
    color: #E8C593;
}